@import "../../assets/variables.scss";

.searchContainer {
  display: flex;
  height: 42px;
  margin: 21px 5%;
  width: 100%;

  .searchBar {
    font-size: 16px;
    margin: 0 1%;
    text-align: center;
    width: 70%;
  }

  .searchButton {
    margin: 0 1%;
    width: 16%;
  }
}
