<div id="globalContainer">
  <div class="sideBar">
    <div class="topContainer">
      <img
        class="reliefApplicationsLogo"
        src="assets/logo.png"
        alt="Relief Applications logo"
      />
    </div>
    <app-history class="historyContainer"></app-history>
  </div>
  <div class="centralContainer">
    <app-search-bar class="searchBarContainer"></app-search-bar>
    <app-video-view class="videoViewContainer"></app-video-view>
  </div>
  <app-bookmarks class="bookmarksContainer sideBar"></app-bookmarks>
</div>

<router-outlet></router-outlet>
