@import "../assets/variables.scss";

#globalContainer {
  display: flex;
  width: 100vw;

  .centralContainer {
    width: 50%;
  }

  .sideBar {
    background: $medium-grey;
    border-radius: $border-radius;
    margin: 32px;
    overflow: hidden;
    width: 25%;
  }

  .reliefApplicationsLogo {
    display: block;
    height: 100px;
    margin: auto;
  }
}
