
// Global variables file to ensure consistency accross the web application


/* -------------------- COLORS -------------------- */
$black: #000000;
$dark-grey: #131415;
$light-grey: #adadad;
$light-red: #d63447;
$medium-grey: #262626;

/* -------------------- BORDERS -------------------- */
$border-radius: 5px;
