@import "../../assets/variables.scss";

button {
  background-color: $light-red;
  border-radius: $border-radius;
  border: none;
  color: white;
  display: block;
  font-size: 20px;
  margin: 0 auto;
  padding: 2px 8px;
  transition: 250ms;

  &:hover {
    cursor: pointer;
    background: white;
    color: $dark-grey;
  }
}

#toggleBookmarksButton {
  margin: 24px auto;
}

#bookmarksList {
  max-height: 0;
  overflow-y: scroll;
  overflow: hidden;
  transition: 250ms;

  &.open {
    max-height: 100vh;
  }
}
