@import "../../assets/variables.scss";



#toggleBookmarksButton {
  margin: 24px auto;
}

#bookmarksList {
  max-height: 0;
  overflow-y: scroll;
  overflow: hidden;
  transition: 250ms;

  &.open {
    max-height: 100vh;
  }
}

.clearAllButton {
  bottom: 20px;
  position: absolute;
  right: 20px;
}