@import "../../assets/variables.scss";



#toggleBookmarksButton {
  margin: 24px auto;
}

#bookmarksList {
  max-height: 0;

  // All the following rules are for a CSS-only toggling animation
  overflow-y: scroll;
  overflow: hidden;
  transition: 250ms;

  &.open {
    max-height: 100vh;
  }
}

.clearAllButton {
  animation: 250ms;
  background: white;
  border: 1px solid $light-red;
  bottom: 20px;
  color: $light-red;
  position: absolute;
  right: 20px;

  &:hover {
    background: $light-red;
    border-color: white;
    color: white;
  }
}